<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self';">
    <title>Random pasword generator</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="heder">Pasword Generator</div>
    <div class="options">
        <input id="lethersLowercase" type="checkbox" placeholder="lethersLowercase" name="lethersLowercase" value="">
        <label for="lethersLowercase">lethersLowercase</label><br>

        <input id="lethersUppercase" type="checkbox" placeholder="lethersUppercase" name="lethersUppercase"  value="">
        <label for="lethersUppercase">lethersUppercase</label><br>

        <input id="numbers" type="checkbox" placeholder="numbers" name="numbers" value="">
        <label for="numbers">Numbers</label><br>

        <input id="symbols" type="checkbox" placeholder="symbols" name="symbols" value="symbols">
        <label for="symbols">Symbols</label><br>
    </div>


    <script src="../scripts/index.js"></script>
</body>
</html>