body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 1fr 1fr 50px;
    grid-template-areas: 
        ". t t t t t t t t t t ."
        ". . . . . . . . . . . ."
        ". o o o o o o2 o2 o2 o2 o2 o2"
        ". a a a a a a a a a a ."
        ". . . . . . . . . . . ."
    ;
}
.heder{
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    grid-area: t;
}
.options{
    grid-area: o;
}
.options-2{
    grid-area: o2;
}
.output{
    grid-area: a;
    text-align: center;
    border-top: 1px solid black;
    margin-top: 50px;
    padding-top: 30px;
    box-sizing: border-box;
}
.output button{
    font-size: 24px;
}
#password {
    background-color: red;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}