body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    grid-template-areas: 
        "t t t t t t t t t t t t"
    ;
}
.heder{
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    grid-area: t;
}