body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 1fr;
    grid-template-areas: 
        ". t t t t t t t t t t ."
        ". . . . . . . . . . . ."
        ". o o o o o . . . . . ."
    ;
}
.heder{
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    grid-area: t;
}
.options{
    grid-area: o;
    height: 200px;
}